
<div class="jumbotron">
  <div class="container main">
      <h1>Sense Notes</h1>
      <p class="lead">Take notes so that you can recall things
      in your personal life.</p>
      <button type="button" class="btn btn-primary btn-lg">Sign Up &raquo;</button>
  </div>
</div>