.notes-main {
  padding-top: 80px;
}

.notes-main-note {
  padding-top: 50px;
}

.btn-space {
  margin-right: 15px;
}

.btn-actions {
  margin-top: 30px;
}

.search-forms {
  margin-bottom: 30px;
}

.category-filter {
  margin-bottom: 30px;
}