.pad-top {
  margin-top: 48px;
}

html { height: 100%; }

// for page controller actions only
body.main {
  padding-top: 30px;
  min-height: 100%; 
  
  background-repeat: no-repeat;
  background-image: image-url(sense-notes-pic.jpg);
  background-position: 50% 50%;
  background-size: cover;
}